extends ../layout

block content
    h1.
         #{title}
    ul
        - each robot in robots
            = robot._id
            = robot
            li
                p #{robot._id}
                p #{robot.result}
                form(action='/robots/#{robot._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
                    input(type='hidden',value='DELETE',name='_method')
                    button(type='submit').
                        Delete

                p "THIS SOME BS"
                p
                    a(href='/robots/#{robot._id}/edit') Edit
                p
                    a(href='/robots/#{robot._id}') Show